@media screen and (max-width: 650px) {
    .heading-content h2 {
        font-size: 1.8rem;
        font-family: 'Courier Prime', monospace;
    }
    
    .project {
        line-height: 25px;
        background-color: rgb(60, 60, 60);
        margin: 10px;
        width: 60%;
        max-width: 600px;
        text-align: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

@media screen and (min-width: 650px) {
    .heading-content h2 {
        font-size: 2rem;
        font-family: 'Courier Prime', monospace;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        line-height: 20px;
        background-color: rgb(60, 60, 60);
        margin: 10px;
        width: 30%;
        max-width: 400px;
        text-align: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}


body {
    margin: 0;
    width: 100%;
    background-color: #1a1a1a;
    font: normal 75% Arial, Helvetica, sans-serif;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

/* Heading */
#tsparticles {
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
}

.heading {
    color: white;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    text-align: center;
    display: table;
}

.heading-content {
    display: table-cell; 
    vertical-align: middle; 
}

.heading-content h3 {
    font-size: x-large;
    font-family: 'Courier Prime', monospace;
}

#element {
    color: #00ffff;
}

#about-me-btn {
    box-shadow: rgba(0, 255, 255, 0.4) 0px 5px, rgba(0, 255, 255, 0.3) 0px 10px, rgba(0, 255, 255, 0.2) 0px 15px, rgba(0, 255, 255, 0.1) 0px 20px, rgba(0, 255, 255, 0.05) 0px 25px;
    -webkit-user-select: none;   
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Righteous', cursive;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
    border: solid;
    border-color: azure;
    background-color: transparent;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    transition: box-shadow 0.3s, background-color 0.2s;
}

#about-me-btn:hover {
    background-color: #00b3b3;
    cursor: pointer;
    box-shadow: none;
}

.body { 
    transition: background-color 0.2s, color 0.2s;
    background-color: #1d1d1d;
}

.body h2 {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    font-size: 1.5rem;
}

.body h1 {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    font-size: 1.8rem;
}


/* About */
.profile-pic {
    width: 40%;
    height: 40%;
    border-radius: 100%;
    max-width: 300px;
}

.about-section {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Annie Use Your Telescope', cursive;    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-section ul {
    list-style-type: "# ";
}


/* Tooltip */
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .top {
    min-width:100px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#444444;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; 
    opacity:0; 
    transition: opacity 0.5s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color:#444444;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}


/* Skills */
.skill-section {
    font-family: 'Courier Prime', monospace;   
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.skill-section h2 {
    font-family: 'Annie Use Your Telescope', cursive;
}

.skill {
    filter: grayscale(100);
    transition: filter 0.2s;
}

.skill h3 { text-align: center; }

.skill:hover {
    filter: grayscale(0);
}


/* Projects */
.project-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project img {
    width: 100%;
    border-radius: 0px 10px 0px 50px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.project-text {
    padding: 0px 15px 10px 15px;
    font-family: 'Courier Prime', monospace;
}

.project-btn {
    text-decoration: none;
    font-family: Calibri, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-btn:active {
    box-shadow: none;
}

.project-btn:hover {
    opacity: 0.8;
}

.project-btn * {
    vertical-align: middle;
}


/* Contact  */
.contact-section {
    font-weight: 600;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.contact-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-methods > a {
    margin: 10px;
}

.contact-btn {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: larger;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    display: table;
    transition: opacity 0.3s;
}

.contact-btn:hover {
    opacity: 0.8;
}

.contact-btn:active {
    box-shadow: none;
}

.contact-btn * {
    vertical-align: middle;
}

.email-btn {
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(70, 70, 221);
}

.twitter-btn {
    color: white;
    background-color: #1DA1F2;
}

.linkedin-btn {
    color: white;
    background-color: #0077b5;
}

.github-btn {
    color: black;
    background-color: #ffffff;
}


/* Scroll indicator */
.indicator {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 3px;
}

.progress-bar {
    height: 3px;
    background: #00b3b3;
    width: 0%;
}


/* Loader */
#loader {
    z-index: 101;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.loader-overlay {
    z-index: 100;
    background-color: #1a1a1a;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    z-index: 111;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/* Back to top */
.back-to-top {
    z-index: 10;
    color: white;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #00b3b3;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
}

.hidden {
    opacity: 0%;
}


/* Light mode support */
.toggle {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background: #ffffff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: background-color 0.5s, opacity 0.3s;
}

.toggle:hover {
    opacity: 0.8;
}

.toggle:active {
    box-shadow: none;
}

body.light .toggle {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.light .body {
    background: rgb(247, 247, 247);
    color: rgb(45, 45, 45);
}

body.light .project {
    background: rgb(235, 235, 235);
}
